:root {
  --main-blue: hsl(217, 100%, 50%);
  --main-blue-dark: hsl(217, 50%, 25%);
  --main-blue-light: hsl(217, 25%, 40%);
  --gray: #1f1a1a;
  --gray-light: #f2f2f2;

  font-size: 62.5%;
}

:hover {
  transition: 0.3s;
}

body {
  width: 100vw;
  margin-inline: auto;

  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--main-blue-dark);

  overflow-x: hidden;
}

h1 {
  font-size: 4.8rem;
  color: var(--main-blue-dark);
  line-height: 150%;
}

h2 {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 150%;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
  color: var(--gray);
}


nav#navigation {
  margin-inline: auto;

  align-items: center;
  height: 14.4rem;

  padding-block: 1.2rem;
  
}

nav#navigation .header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

nav#navigation .contact ul {
  display: flex;
  align-items: center;
  gap: .5rem;
}

nav#navigation .logo {
  width: 60px;
  height: 60px;
}

nav#navigation .menu {
  padding-block: 2.4rem;
  
}

nav#navigation .menu ul {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav#navigation .menu ul a:hover {
  color: var(--main-blue);
  filter: brightness(1.2);
}

.btn-suporte {
  padding: 1rem 1.7rem;
  border: none;
  
  background-color: var(--main-blue);

  color: white;
}

nav#navigation .menu ul .btn-suporte:hover {
  background-color: var(--main-blue-dark);
  color: var(--gray-light);
}

main {
  background-color: #f0f0f2;
  background-image: url(/assets/banner-services.jpg);
  background-repeat: no-repeat;
  background-position: right;
  margin-inline: 5rem;
  background-size: 60vh;
}

main .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;

  height: 50vh;
}

#stats {
  margin-inline: 5rem;
  background-color: var(--main-blue-dark);
  color: white;
  padding-block: 3rem;
}

#stats .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  
  gap: 2.4rem;
  padding-block: 3rem;
}

#stats .container .header h2 {
  font-weight: 400;
  color: var(--gray-light);
}

#stats .container .card h2 {
  font-size: 7.2rem;
  font-weight: 400;
  padding: 0;
  color: var(--main-blue-dark);
}

#stats .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: var(--gray-light);
  color: var(--main-blue-dark);
  border: none;
}

.card:hover {
  opacity: 0.7;
}

.btn-more {
  font-size: 1.6rem;
  padding: 1rem 1.7rem;
  border: none;
  
  background-color: var(--main-blue);

  color: var(--gray-light);
  width: fit-content;

  margin-block: 2.4rem;
}

#services {
  margin-inline: 5rem;
  color: var(--gray-light);
  background-color: var(--main-blue-light);

  padding-block: 3rem;
}

#services .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;

  padding-block: 3rem;
}

#services .card {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-light);
  color: var(--main-blue-dark);
  
}

#contact {
  margin-inline: 5rem;
  color: var(--main-blue-dark);
  padding-block: 3rem;
}

#contact .cards {
  display: grid;
  grid-template-areas: 
  'A B'
  'C C'
  ;
  grid-template-columns: 1fr 1fr;
  padding-block: 3rem;
  gap: 0.5rem;
  
}

#contact .card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.4rem;
  background-color: var(--main-blue);
  color: var(--gray-light);
}

.col-a {
  grid-area: A;
  background-color: var(--main-blue);
}

.col-b {
  grid-area: B;
  background-color: var(--main-blue);
}

.col-c {
  grid-area: C;
  background-color: var(--main-blue);
  padding-block: 2rem;
}

.col-c h2 {
  font-size: 4.8rem;
  font-weight: 400;
}

footer {
  background-color: var(--gray-light);
  padding-block: 6rem;
  margin-inline: 5rem;

  font-size: 1.4rem;
}

footer .container {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  justify-content: space-between;
}

footer .container ul {
  display: flex;
  flex-direction: column;
  line-height: 250%;
}

@media only screen and (max-width: 1920px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}
