:root {
  --main-blue: #0062ff;
  --main-blue-dark: #203860;
  --gray: #1f1a1a;
  --gray-light: hsl(0, 0%, 95%);

  font-size: 62.5%;
}

:hover {
  transition: 0.3s;
}

body {
  width: 100vw;
  margin-inline: auto;

  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--main-blue-dark);

  overflow-x: hidden;
}

h1 {
  font-size: 4.8rem;
  color: var(--main-blue-dark);
  line-height: 150%;
}

h2 {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 150%;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
  color: var(--gray);
}

nav#navigation {
  margin-inline: auto;

  align-items: center;
  height: 14.4rem;

  padding-block: 1.2rem;
  
}

nav#navigation .header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

nav#navigation .contact ul {
  display: flex;
  align-items: center;
  gap: .5rem;
}

nav#navigation .logo {
  width: 60px;
  height: 60px;
}

nav#navigation .menu {
  padding-block: 2.4rem;
  
}

nav#navigation .menu ul {
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-suporte {
  padding: 1rem 2rem;
  border: none;
  
  background-color: var(--main-blue);

  color: white;
}

.btn-suporte:hover {
  background-color: var(--main-blue-dark);
}

main {
  background-color: #f0f0f2;
  background-image: url(/assets/banner-services.jpg);
  background-repeat: no-repeat;
  background-position: right;
  margin-inline: 5rem;
  background-size: 60vh;
}

main .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 60%;

  height: 50vh;
}

#stats {
  margin-inline: 5rem;
  background-color: var(--main-blue);
  color: white;
}

#stats .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  
  gap: 3rem;
  padding-bottom: 6rem;
}

#stats .container .header h2 {
  font-weight: 700;
  padding-block: 3rem;
  color: white;
}

#stats .container .card h2 {
  font-size: 7.2rem;
  font-weight: 700;
  padding: 0;
  color: var(--main-blue);
}

#stats .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  background-color: var(--gray-light);
  color: var(--main-blue-dark);
  border: none;

}

#stats .card:hover {
  transform: scale(1.1);

}

footer {
  background-color: var(--gray-light);
  padding-block: 6rem;
  margin-inline: 5rem;

  font-size: 1.4rem;
}

footer .container {
  display: grid;
  grid-template-columns: 50% 1fr 1fr;
  justify-content: space-between;
}

footer .container ul {
  display: flex;
  flex-direction: column;
  line-height: 250%;
}

@media only screen and (max-width: 1920px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}
