* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 95vw;
  margin-inline: auto;

  font-family: 'Roboto Slab', sans-serif;
  font: 1.6rem;
}

ul {
  list-style: none;
}

nav#navigation {
  margin-inline: auto;
  width: 70vw;

  align-items: center;
  height: 16.7rem;

  padding: 2.4rem 0 0;
}

nav#navigation .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 2.4rem;
}

nav#navigation .header ul {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

nav#navigation .menu {
  padding-top: 1.7rem;
  border-top: 1px solid #ececec;
}

nav#navigation .menu ul {
  font-size: 1.6rem;

  display: flex;
  justify-content: center;

  gap: 4rem;
}

main {
  background-color: blueviolet;
}

main .hero {
  width: 70vw;
  height: 50vh;
  margin-inline: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home {
  width: 70vw;
  margin-inline: auto;
}

#home .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home .card {
  height: 25rem;
}
