* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-blue: hsl(217, 100%, 50%);
  --main-blue-dark: #203860;
  --gray: #1f1a1a;
  --gray-light: hsl(0, 0%, 95%);

  font-size: 62.5%;
}

:hover {
  transition: 0.3s;
}

body {
  width: 100vw;
  margin-inline: auto;

  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--main-blue-dark);

  overflow-x: hidden;
}

h1 {
  font-size: 4.8rem;
  color: var(--main-blue-dark);
}

h2 {
  font-size: 2.9rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--gray);
}

ul {
  list-style: none;
}

nav#navigation {
  margin-inline: auto;

  align-items: center;
  height: 16.7rem;

  padding-block: 1.2rem;
}

nav#navigation .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#navigation .header .social-links ul {
  display: flex;
  gap: 1rem;
}

nav#navigation .menu {
  padding-top: 1.7rem;
  border-top: 1px solid var(--gray-light);
}

nav#navigation .menu ul:nth-child(1) {
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--main-blue);

  color: white;
}

.button:hover {
  background-color: var(--main-blue-dark);
}

main {
  background-color: #f0f0f2;
  background-image: url(/assets/banner-services.jpg);
  background-repeat: no-repeat;
  background-position: right;
  margin-inline: 5rem;
  background-size: 60vh;
}

main .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 70%;

  height: 50vh;
}

#stats {
  margin-inline: 5rem;
}

#stats .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 1rem;

  padding-block: 1rem;
}

#stats .card h2 {
  font-size: 7.2rem;
  font-weight: 700;
}

#stats .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  background-color: var(--gray-light);
  border: none;
}

#stats .card:hover {
  background-color: var(--main-blue);
  color: white;
}

@media only screen and (max-width: 1920px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 60%;
    margin-inline: auto;
  }
}
